@import "../../assets/theme.scss";

section {
    width: 20vw;
    height: 100%;
    box-shadow: 0 0 4px 0 rgba(179, 179, 179, 0.54);
    position: relative;
    z-index: 2;
}
.tree-node {
    display: flex;
    align-items: center;
    @extend %heading4;
    color: $dark-blue;
    text-transform: uppercase;
    padding: 16px;
    border-bottom: 1px solid #ededed;
    transition: all 0.5s ease;

    .styled_mat_icon {
        color: $mid-blue;
    }

    button {
        background-color: transparent;
        padding: 0;
        margin-right: 32px;
    }

    button:disabled {
        display: none;
    }
}

.expanded_item {
    background-color: $dark-blue;
    color: #ffffff;
    border-bottom: 1px solid $dark-blue;
}