section h4, .table_controls button, th {
  font-size: 18px;
  color: #151515;
  letter-spacing: 0px;
  margin: 0;
}

td {
  font-size: 16px;
  color: #151515;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 16px;
}

section {
  width: 80vw;
  height: 100%;
  background-color: #e4ebf0;
  padding: 32px 16px;
}

section h4 {
  color: #a0b5bb;
  padding-bottom: 16px;
}

.table_wrap {
  box-shadow: 0 0 4px 0 rgba(179, 179, 179, 0.54);
  overflow: hidden;
  border-radius: 6px;
  background-color: #ffffff;
  padding-bottom: 32px;
}

.table_controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  box-shadow: 0 0 4px 0 rgba(179, 179, 179, 0.54);
}

.table_controls button {
  cursor: pointer;
  text-transform: uppercase;
  color: #00994c;
  border: 1px solid #00994c;
  border-radius: 4px;
  padding: 10px;
  width: 100px;
}

.table_controls button:last-of-type {
  background-color: #00994c;
  color: #ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #f9fafb;
  font-weight: bold;
}

tr th, tr td {
  text-align: left;
  padding: 10px 24px;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

tr th:last-of-type,
tr td:last-of-type {
  border-right: none;
}
