<section>
  <h4>SECTION NAME</h4>
  <div class="table_wrap">
    <div class="table_controls">
      <button (click)="saveImprovementData()">Save</button>
      <button>Add +</button>
    </div>
    <table cdk-table [dataSource]="dataSource" [trackBy]="trackById">

      <ng-container cdkColumnDef="1st level">
        <th cdk-header-cell *cdkHeaderCellDef> 1st level</th>
        <td cdk-cell *cdkCellDef="let el; let i = index;" >
          <input type="text"
          placeholder="{{el.level_1}}"
          value="{{el.level_1}}"
          [(ngModel)]="el.level_1">
        </td>
      </ng-container>

      <ng-container cdkColumnDef="2nd level">
        <th cdk-header-cell *cdkHeaderCellDef> 2nd level </th>
        <td cdk-cell *cdkCellDef="let el; let i = index">
            <input placeholder="{{el.level_2}}" type="text"
            value="{{el.level_2}}"
            [(ngModel)]="el.level_2">
        </td>
      </ng-container>

      <ng-container cdkColumnDef="3rd level">
        <th cdk-header-cell *cdkHeaderCellDef> 3rd level </th>
        <td cdk-cell *cdkCellDef="let el; let i = index">
            <input placeholder="{{el.level_3}}" type="text"
            value="{{el.level_3}}"
            [(ngModel)]="el.level_3">
        </td>
      </ng-container>

      <ng-container cdkColumnDef="4th level">
        <th cdk-header-cell *cdkHeaderCellDef> 4th level </th>
        <td cdk-cell *cdkCellDef="let el; let i = index">
          <input type="text" placeholder="{{el.level_4}}"
          value="{{el.level_4}}"
          [(ngModel)]="el.level_4">
        </td>
      </ng-container>

      <ng-container cdkColumnDef="5th level">
        <th cdk-header-cell *cdkHeaderCellDef> 5th level </th>
        <td cdk-cell *cdkCellDef="let el; let i = index">
          <input type="text" placeholder="{{el.level_5}}"
          value="{{el.level_5}}"
          [(ngModel)]="el.level_5" >
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>
