<section>
  <h4>SECTION NAME</h4>
  <div class="table_wrap">
    <div class="table_controls">
      <button>Save</button>
      <button>Add +</button>
    </div>
    <table cdk-table [dataSource]="dataSource">

      <ng-container cdkColumnDef="1st level">
        <th cdk-header-cell *cdkHeaderCellDef> 1st level</th>
        <td cdk-cell *cdkCellDef="let el">
          <span >
            {{el.name}}
          </span>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="2nd level">
        <th cdk-header-cell *cdkHeaderCellDef> 2nd level </th>
        <td cdk-cell *cdkCellDef="let el">
          <span>
            {{el.name}}
          </span>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="3rd level">
        <th cdk-header-cell *cdkHeaderCellDef> 3rd level </th>
        <td cdk-cell *cdkCellDef="let el">
          <span >
            {{el.name}}
          </span>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="4th level">
        <th cdk-header-cell *cdkHeaderCellDef> 4th level </th>
        <td cdk-cell *cdkCellDef="let el">
          <span >
            {{el.name}}
          </span>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="5th level">
        <th cdk-header-cell *cdkHeaderCellDef> 5th level </th>
        <td cdk-cell *cdkCellDef="let el">
          <span >
            {{el.name}}
          </span> </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>
